@import '../../../commons/styles/colors';

.cmp-simple-card {
    display: flex;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 15px;
    flex-basis: 47%;

    &__icon {
        font-size: 40px;
        flex-basis: 50%;
        color: $gray;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 50%;

        .cmp-title, .cmp-text {
            flex-basis: 100%;
            margin: 0;
        }

        .cmp-title {
            color: $main;
        }

        .cmp-text {
            font-size: 14px;
        }
    }

    &.isBig {
        flex-basis: 100%;

        .cmp-simple-card__info {
            display: flex;
            justify-content: center;
            flex-basis: 100%;

            .cmp-title, .cmp-text {
                text-align: center;
            }

            .cmp-text:first-of-type {
                font-size: 18px;
                font-weight: bold;
            }

            :last-child {
                margin-top: 10px;
                color: $darker-gray;
            }
        }
    }
}
