@import '../../commons/styles/colors';

.cmp-error {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 30px;

    .cmp-title {
        text-align: center;
        flex-basis: 100%;
    }

    svg {
        margin-right: 10px;
    }

    .back {
        display: flex;
        cursor: pointer;
        align-items: center;
        border: 1px solid $black;
        border-radius: 5px;
        padding: 5px 10px;
        transition: all 0.3s ease;

        &:hover {
            background-color: $white;
        }
    }
}
