@import './colors';
@import './breakpoints';

#root {
    .app {
        background-color: $lighter-gray;

        form, .code {
            input {
                width: 90%;

                @include medium {
                    button, a, input {
                        min-width: 400px;
                    }
                }
            }

            button, a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 90%;
                border: 0;
                border-radius: 8px;
                background: $buttonBackground;
                font-size: 16px;
                color: $white;
                font-weight: bold;
                cursor: pointer;
                transition: background-color 0.2s;

                @include medium {
                    button, a, input {
                        min-width: 400px;
                    }
                }

                &:hover {
                    background: $buttonBackgroundHover;
                }
            }
        }

        .code, .token {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 2px;
            max-width: 600px;
            margin: 0 auto;
            padding: 0 4vw;

            input {
                height: auto;
                padding: 10px;
                border-radius: 8px;
                border: 1px solid;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 1.6px;
            }


            .cmp-text {
                font-size: 12px;
                letter-spacing: 1.2px;
                text-align: center;
            }
        }

        .app-form {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            svg {
                font-size: 100px;
                margin-bottom: 50px;
            }

            input {
                width: 90%;
                height: 60px;
                padding: 0 24px;
                border: 0;
                border-radius: 8px;
                font-size: 16px;
                outline: 0;
                margin-bottom: 20px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            }

            button {
                width: 90%;
            }

            @include medium {
                button, input {
                    width: 500px;
                }
            }
        }

        .content {
            padding: 6vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            &__bio {
                display: flex;
                flex-basis: 100%;
                background: $gray;
                border-left: 10px solid $bio;
                margin: 1.5em 10px;
                padding: 0.5em 10px;
                font-style: italic;
                font-weight: bold;
                order: 0;

                &:before {
                    color: $darker-gray;
                    content: open-quote;
                    font-size: 4em;
                    line-height: 0.1em;

                    @include medium {
                        margin-right: 0.25em;
                    }
                }
            }

            &__left, &__right {
                max-width: 600px;
                flex-basis: 100%;
                display: flex;
                height: fit-content;
                flex-wrap: wrap;
                margin-top: 20px;

                @include medium {
                    flex-basis: 50%;
                }

                .cmp-title {
                    flex-basis: 100%;
                }

                .cmp-simple-card, .cmp-repo-cards__item {
                    margin: 0 10px 10px 0;
                }

                .cmp-repo-cards__item {
                    flex-basis: 100%;
                }

                .more {
                    font-style: italic;

                    .profile, .followers, .location, .member, .website {
                        display: flex;
                        align-items: center;

                        .cmp-text {
                            margin: 0 0 0 10px;
                        }
                    }
                }
            }

            &__right {
                order: 1;

                @include medium {
                    order: 3;
                }
            }

            &__left {
                order: 3;

                @include medium {
                    order: 2;
                }
            }

            &__bottom {
                flex: 100%;
                display: flex;
                justify-content: center;
                margin-top: 40px;
                order: 4;
            }
        }
    }
}
